.image-upload > input
{
    display: none;
    
}
.image-upload{
    display: flex;
    align-content: center; 
}
.image-upload .addImage
{
    padding: 10px 10px 1px;
    cursor: pointer;
    border-radius: 5px;
}
.addImage:hover
{
    border: 1px solid #66c4ff
}

.image-input{
    width: 30px;    
}
