
.user-tweets{
	background-color: white;
    height: 100%;
    width: 100%;
	max-width: 67%;
	border: 1px solid #b3b3b3;
	
	&__title {
		padding: 13px 10px 9px;
		border-bottom: 1px solid #c1c0c0;
		font-size: 13px;
		color: #555758;
	}
	
	&__item {
		padding: 10px 60px 10px 25px;
		display: flex;
		width: 100%;
		border-bottom: 1px solid #c1c0c0;
		font-size: 14px;
		color: #949494;
	}

	&__info {
		display: flex;
		align-items: center;
		margin-bottom: 4px;
		justify-content: space-between;
	}

	&__name {
		font-weight: 600;
		margin-right: 6px;
		color: #2d2d2d;
	}

	&__username {
		margin-right: 6px;
	}

	&__photo {
		margin-right: 15px;
	}
	.tweet_preview-big{
		max-width: 100%;
		max-height: 100%;
		height: auto;
		z-index: 4;
	}
	.tweet_preview-big-container{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 100%;
		z-index: 4;
		background-color: rgba(0, 0, 0, 0);
	}
	.tweet_preview-big-wrapper{
		padding: 60px;
		position: fixed;
		display: flex;
		justify-content: center;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		min-width: 100vw;
		min-height: 100vh;
		z-index: 4;
		background-color: rgba(0, 0, 0, 0.342);
	}

	

	&__logo {
		text-align: center;
    	padding: 11px 0;
	}

	&__icons {
		display: flex;
		align-items: center;

		.like {
			cursor: pointer;

			&:hover {
				path {
					fill: #f53434;
				}
			}
		}

		.comment {
			cursor: pointer;
			margin-right: 35px;

			&:hover {
				path {
					fill: #1da1f2;
				}
			}
		}
	}
}